<div class="profileimg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 imgdiv">
                <img src="./assets/images/sunsetalpy.png" alt="" srcset="">
            </div>
            <div class="col-sm-4 namediv">                
                    <div class="myname">
                        Poornima Lakshmi
                    </div> 
                    <div class="job">
                        Full Stack Developer
                    </div>
            </div>
            <div class="col-sm-4 col2">

            </div>
        </div>
    </div>
</div>

<div class="arrow">
    <span></span>
    <span></span>
    <span></span>
</div>