<div class="aboutmemain" id="aboutme">
    <h1>
        <span class="ab">Ab</span>
        <span class="out">out </span>
        <span class="me">Me</span>
    </h1>
    <p>
        Poornima Lakshmi is a Full Stack Developer working on technologies like Angular, React JS, Typescript,Express, Node JS, etc... She is a passionate learner who is also interested in Japanese language & culture and would love to be a part of the Japanese business environment.
    I was born and raised in Alleppey,Kerala. 
    </p>
    <div class="detailstable">
        <table class="table table-striped">
           
            <tbody>
              <tr>
                <td>Name</td>
                <td>Poornima Lakshmi</td>  
              </tr>
              <tr>
                <td>Born</td>
                <td>5 June 1991</td> 
              </tr>
              <tr>
                <td>Occupation</td>
                <td>Developer</td> 
              </tr>
              <tr>
                <td>Hobbies</td>
                <td>Language Learning</td> 
              </tr>
            </tbody>
          </table>
    </div>
   <div class="footermain">
    <div class="footer">
        Follow Me On
    </div>
    <div class="icons">
        <div class="iconbackground">
            <a href="https://www.facebook.com/lakshmiip/"><span class="facebookspan"><i class="fa-brands fa-facebook-f"></i></span></a>
            <a href="https://www.instagram.com/lakshmipoornima18/?hl=en"><span class="instagramspan"><i class="fa-brands fa-instagram-square"></i></span></a>
        </div>
    </div>
   </div>

</div>