<div class="projectsdiv" id="projects">
    <div class="projectheading">
        My Projects
    </div>

    <div class="projects">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 projectdetails">

                    <div class="gifdiv">
                        <img src="./assets/gif/shoppingcart.gif" alt="" srcset="">
                    </div>
                    <div class="descriptiondiv">
                        <h3>Shopping Cart App (React)</h3>
                        <button class="btn srcbtn btn-danger">
                            <a href="https://github.com/lakshmipoornima/ReactShoppingCart"> Source Code</a>
                           
                        </button>
                    </div>

                </div>
                <div class="col-sm-6 projectdetails">
                    <div class="gifdiv">
                        <img src="./assets/gif/anvisfavoritezz.gif" alt="" srcset="">
                    </div>
                    <div class="descriptiondiv">
                        <h3>Music Streaming App(React)</h3>
                        <button class="btn srcbtn btn-danger">
                            <a href="https://github.com/lakshmipoornima/AnvisFavourites"> Source Code</a>
                           
                        </button>
                    </div>

                </div>
               
            </div>
            <div class="row secondrow">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 projectdetails">
                    <div class="gifdiv">
                        <img src="./assets/gif/shoppingnode.gif" alt="" srcset="">
                    </div>
                    <div class="descriptiondiv">
                        <h3>Shopping Cart with Authorization(Node & Express)</h3>
                        <button class="btn srcbtn btn-danger">
                            <a href="https://github.com/lakshmipoornima/ReactShoppingCart"> Source Code</a>
                           
                        </button>
                    </div>

                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>

    </div>
    <app-aboutme></app-aboutme>
</div>
